.mb-10{
    margin-bottom: 30px;
}

.section{
    min-height: 800px;
}

.btn-cool{
    border: none;
    margin-top: 3rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.3rem;
    background-color: #33495e;
    color: wheat;
    transition: all 0.3s linear;
    text-decoration:none;
}
.btn-cool:hover{
    opacity: .8;
    color: wheat;
    text-decoration: none;
}


/* Section Profile */
.profile{
      padding-top: 14rem;
}

.title{
    text-align: center;
    padding: 5rem 0rem 1.5rem 0rem;
}
.content{
    padding : 1.875rem 0rem 1.875rem 0rem;
    color: #33495e;
}

.picture{
    background-color: #959ea76e;
    width: 300px;
    height: 300px;
    align-items: center;
    margin-top: 1rem;
    padding: 0.8rem;
    border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;
}


.description{
    margin : 3rem;
}


.description>h4{
    font-size: 2rem;
}
.description>h5{
    font-size: 20px;
    margin-bottom: 1rem;
}

.img-fluid{
    border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;

}

/* Section Experience */

.timeline{
    width: 60%;
    margin-top: 2rem;
    padding: 2.5rem;
    box-shadow: 15px 15px 20px #dcdee0, -15px -15px 20px #fcfcfc;

}

ul.timeline-point {
    list-style-type: none;
    position: relative;
}
ul.timeline-point:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline-point > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline-point > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #33495e;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}


/* Section Porto */

.porto-container{

    text-align:center;
}

.slide-container{
    text-align:left;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400.33px, 1fr));
}

.btn-load{
    text-align: center;
}

.btn-load button{
    border: none;
    margin-top: 3rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.3rem;
    background-color: #33495e;
    color: wheat;
    transition: all 0.3s linear;
}

.btn-load button:hover{
    opacity: .8;
}

.project-content{  
    min-height: 25rem;
    min-width: 20.5rem;
    padding: 0.3rem;
    margin: 2.5rem 0.7rem 2rem 0.7rem;
    background-color: rgba(255, 255, 255, 0.562);
    border-radius: 0.4rem;
    box-shadow: 2px 2px 5px #02010113, -2px -2px 5px #02010113;
    transition: .3s;


    /* box-shadow: 0 1px 3px 0 #eeece900, 0 6px 20px 0 #8d8d8d67; */
    /* box-shadow: 5px 5px 10px #dcdee0, -5px -5px 10px #dcdee0; */
}
.preview{
    width:100%; 
    height:45%;
    padding: 0.3rem;
}

.preview>img{
    height:100%;
    width: 100%;
    border-radius: 0.4rem;
}

.project-desc{
    padding: 1rem;
    width: 100%;
    max-height: 55%;
    font-size: small;
    color: #33495ee7;
}

.detail_project{
    min-height: 95px;
}

.ul-highlight{
    margin-bottom: 1rem;
}

.highlight{

    border-width:0.125rem;    
    border-style:solid;
    border-radius: 00.3rem;
    margin-bottom: 1rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    color: #33495ee7;
}


/* Contact */

.contact-section{
    width: 70%;
    margin: auto;
    margin-top: 10%;
}

.contact{
    border-radius: 1rem;
    padding: 2rem 2rem 3rem 2rem;
    text-align: center;
}
.contact ,h1 ,p, a{
    margin-bottom: 2rem;
}


/* New Secition Project */


.icon-edit{
    margin-bottom: 30px;
    cursor: -webkit-grab; cursor: grab;
}

.adjust-image{
    object-fit: contain;
}

.link-url{
    color: white;
    font-style: italic;
    background-color: #33495e;
    padding: 2px ;
    padding-right: 5px ;
    padding-left: 5px ;
    border-radius: 5px;
    text-decoration:none;
}
.link-url:hover{
    color: wheat;
    background-color: #33495e;
    text-decoration:none;

}

/* End */

@media only screen and (max-width: 48rem) {

    /* Nav bar */
    .nav-pad {
        padding: 0.438rem 2.188rem 0.438rem 2.188rem;
      }

    .section{
        min-height: 0;
    }

    /* Section Profile */
    .profile{
        padding-top: 0rem;
    }
  
    .content {
        padding: 5.4rem 2.188rem 1.875rem 2.188rem;
    }

    .description{
        margin : 5rem 1rem 2rem 1rem;
    }



    /* Section Experience */
    .timeline{
        width: 100%;
    }



    /* Section Porto */
    .slide-container{
        display: flex;
        margin-left: 0rem;
        border-radius: 0.3rem;
        justify-content: left;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .project-content{
        margin-top: 0;
        min-height: 25rem;
        min-width: 18.5rem;
        max-width: 20rem;
        padding: 0.3rem;
    }


    .btn-load{
        display: none;
    }

    .contact-section{
        width: 100%;
        margin-top: 3rem;
    }
    
}



/* Setup for screen wide 1366 */
@media only screen and (max-width: 1366px) {
    .profile{
        padding-top: 6rem;
     }

}


