.navbar {
  background-color: #33495e; 
  padding: 0.4rem 0rem 0.4rem 0rem;
  position: fixed;
  width: 100%;
  transition: all .2s linear;
}

.navbar.active{
  padding: 0.3rem 0rem 0.1rem 0rem;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.473);
}

.navbar-brand{
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 900;
    font-variant: normal;
    cursor: pointer;
}


.navbar-collapse > ul{
  text-align: center;
}


nav div a {
  margin: 0rem 0.75rem 0rem 0.75rem;
  font-size: 0.813;
  cursor: pointer;
  text-transform: uppercase;
}

.navbar-nav > li> a.active, .navbar-nav > li > a:hover{

  display: inline-block;
  border-width:0.188rem;    
  border-top-style:solid;
  border-top-color: #f5deb3;
  -webkit-transition: all 0.2s ease;                  
  -moz-transition: all 0.2s ease;                 
  -o-transition: all 0.2s ease;   
  -ms-transition: all 0.2s ease;          
  transition: all 0.2s ease;
}

.navbar-nav > li> a.active, .navbar-nav > li > a:focus{

  display: inline-block;
  border-width:0.188rem;    
  border-top-style:solid;
  border-top-color: #f5deb3;
}


@media only screen and (max-width: 48rem) {
  .nav-pad {
    padding: 0.438rem 2.188rem 0.438rem 2.188rem;
  }
}

